body {
    margin:0;
    background:darkslateblue;
}
.calendar {        
    width:100vw;    
    
    display:flex;
    flex-direction: column;

    h3 {
        text-align: center;
        color:white;
        background:teal;
        margin:0;
        padding:15px 0;
    }
    .days {
        display:grid;    
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows:100%;
        p {
            background:darkgrey;
            color:white;
            text-align: center;
            border:1px solid white;
            margin:0;
            padding: 0;
        }        
        span{
            display:none;
        }
    }
    .month {
        flex-grow:1;
        display:grid;
        grid-template-columns: repeat(7, 1fr);
        grid-auto-rows: min-content;
        > div {
            background:lightgrey;
            border:1px solid white;
            grid-column: auto / auto;
            grid-row: auto / auto;
            margin:0;
            position:relative;
            padding-top:100%;
            height:0;
            .day {
                color:teal;
                font-size:1em;
                position: absolute;
                top:0;
                left:0;
                padding:5px;
                width:100%;
                height: 100%;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                font-weight: bold;
            }
            .content {
                overflow: auto;
                flex-grow: 1;
                font-weight: normal;
            }
            &.first-day-of-month {                
                grid-column:6;
            }
            &.fill-start {
                grid-column-start: 1;
                grid-column-end: 6;
                padding-top: 0;
                height: auto;        
                > div {
                    font-size:1.4em;
                    position: absolute;
                    top:0;
                    left:0;
                    padding:15px;
                    width:100%;
                    height: 100%;
                    box-sizing: border-box;
                    overflow: auto;
                }
            }
        }
    }
}
@media only screen and (max-width: 600px) {
    .calendar {
        height:auto;
        width:100%;
        .days {
            display:none;
        }
        .month {
            display: block;
            > div {
                min-height:45px;    
                height:auto;
                padding-top:0;     
                .day {
                    height:auto;
                    position: relative;
                    font-size: 1.5em;
                    
                }
                &.fill-start {
                    > div {
                        position: relative;
                    }
                }       
            }
        }
        .content {
            font-size: 1em;
            padding-top:1em;
        }
    }
  }